﻿@model MI.Web.Models.Inventories.InventoryViewModel

@{
    ViewData["Title"] = "Novo Inventário";
}

<h1>Criar</h1>

<h2>Inventário</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group text-center">
                        <label asp-for="ImageFile" class="control-label"></label><br />
                        <img id="ImagePreview" style="max-height: 250px;" src="~/media/images/common/no_preview.jpg" /><br /><br />
                        <input asp-for="ImageFile" class="form-control" type="file" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @if (User.IsInRole("Superuser") || User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="OwnerID" class="control-label"></label>
                    <select asp-for="OwnerID" class="form-control">
                        <option value="@Guid.Empty">[Escolha um responsável por este inventário...]</option>
                        @foreach (var user in (IQueryable<MI.Web.Data.Entities.ApplicationSection.User>)ViewData["UserList"])
                        {
                            <option value="@user.Id">@user.FullName</option>
                        }
                    </select>
                    <span asp-validation-for="OwnerID" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">
                <div class="row pl-2 pr-2">
                    <button type="submit" class="btn btn-primary col-12 col-md-2 mb-1"><i class="fas fa-plus-square"></i><span class="actionIcon_Text">Criar</span></button>
                    <action-icon asp-controller="Inventories"
                                 asp-action="Index"
                                 class="btn btn-primary col-12 col-md-2 offset-md-8 mb-1" icon="arrow-left" text="Voltar"></action-icon>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function PreviewImage() {
        var preview = document.querySelector('#ImagePreview');
        var file = document.querySelector('#ImageFile').files[0];

        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        }
        else {
            preview.src = "";
        }
    }

    document.querySelector('#ImageFile').addEventListener('change', () => {
        PreviewImage();
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
