﻿@model MI.Web.Models.Inventories.InventoryListViewModel

@using Microsoft.AspNetCore.Identity
@using MI.Web.Data.Entities.ApplicationSection
@using Microsoft.AspNetCore.Http.Extensions

@inject UserManager<User> UserManager
@inject MI.Web.Data.Interfaces.IUnitOfWork UnitOfWork

@{
    ViewData["Title"] = "Inventários";
}


@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
}
<div class="row">
    <div class="col-8">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="col-4 text-right">
        <action-icon icon="plus-circle" asp-action="Create" text="Criar Novo" class="btn btn-outline-primary"></action-icon>
    </div>
</div>
<div class="row pt-4 pb-4">
    <div class="col-md-2">
        <label class="form-control border-0">Pesquisar</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" name="searchBar" id="searchBar" />
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 3em;"></th>
                <th>
                    @Html.DisplayNameFor(model => model.InvitedInventories.ElementAtOrDefault(0).Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OwnedInventories ?? Enumerable.Empty<MI.Web.Data.Entities.InventorySection.Inventory>())
            {
                <tr>
                    <td style="width: 3em;">
                        @if (!string.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="@Url.Content(item.ImagePath)" class="tableProfileImage" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="item-actions inventory-list">
                            <action-icon asp-action="Edit"
                                         asp-route-id="@item.UUId"
                                         class="btn btn-primary collapsible"
                                         text="Editar" icon="edit"></action-icon>

                            <action-icon asp-route="inventoryHome"
                                         asp-route-controller="Inventory"
                                         asp-route-action="Index"
                                         asp-route-inventoryId="@item.UUId"
                                         class="btn btn-primary collapsible" text="Dashboard" icon="info-circle"></action-icon>

                            <a data-itemid="@item.UUId" data-toggle="modal" data-target="#deleteModal" class="btn text-white btn-danger collapsible">
                                <i class="fas fa-trash-alt"></i><span class="actionIcon_Text">Remover</span>
                            </a>

                            @if (await User.IsUserInInventory(UnitOfWork, item.Id) && await User.IsUserNotifiedInInventory(UnitOfWork, item.Id))
                            {
                                <a asp-action="RemoveUserNotifyInventory"
                                   asp-route-id="@item.UUId"
                                   class="btn btn-warning"><i class="fas fa-bell text-white"></i></a>
                            }
                            else if (await User.IsUserInInventory(UnitOfWork, item.Id))
                            {
                                <a asp-action="AddUserNotifyInventory"
                                   asp-route-id="@item.UUId"
                                   class="btn btn-secondary"><i class="fas fa-bell"></i></a>
                            }

                            @if (User.IsInRole("Admin") || User.IsInRole("Superuser"))
                            {
                                <a asp-route="default" asp-route-controller="Inventories" asp-route-action="GetAllInformationFromInventory"
                                   asp-route-id="@item.UUId" class="btn btn-success text-white d-print-none" style="cursor: pointer;"
                                   download="Inventario-@item.Name-@DateTime.Now-file.json"><i class="fas fa-file-code"></i></a>
                            }
                            else if (await User.IsUserAdminInInventory(UnitOfWork, item.Id))
                            {
                                <a asp-route="default" asp-route-controller="Inventories" asp-route-action="GetAllInformationFromInventory"
                                   asp-route-id="@item.UUId" class="btn btn-success text-white d-print-none" style="cursor: pointer;"
                                   download="Inventario-@item.Name-@DateTime.Now-file.json"><i class="fas fa-file-code"></i></a>
                            }
                    </td>
                </tr>
            }

            @foreach (var item in Model.InvitedInventories ?? Enumerable.Empty<MI.Web.Data.Entities.InventorySection.Inventory>())
            {
                <tr>
                    <td style="width: 3em;">
                        @if (!string.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="@item.ImagePath" class="tableProfileImage" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="item-actions">

                        @*<action-icon asp-action="Edit"
                                     asp-route-id="@item.UUId"
                                     class="btn btn-primary collapsible"
                                     text="Editar" icon="edit"></action-icon>*@

                        <action-icon asp-route="inventoryHome"
                                     asp-route-controller="Inventory"
                                     asp-route-action="Index"
                                     asp-route-inventoryId="@item.UUId"
                                     class="btn btn-primary collapsible" text="Dashboard" icon="info-circle"></action-icon>

                        @*<a data-itemid="@item.UUId" data-toggle="modal" data-target="#deleteModal" class="btn text-white btn-danger collapsible mr-1" />
                        <i class="fas fa-trash-alt"></i><span class="actionIcon_Text">Remover</span>*@

                        @if (await User.IsUserInInventory(UnitOfWork, item.Id) && await User.IsUserNotifiedInInventory(UnitOfWork, item.Id))
                        {
                            <a asp-action="RemoveUserNotifyInventory"
                               asp-route-id="@item.UUId"
                               class="btn btn-warning"><i class="fas fa-bell text-white"></i></a>
                        }
                        else if (await User.IsUserInInventory(UnitOfWork, item.Id))
                        {
                            <a asp-action="AddUserNotifyInventory"
                               asp-route-id="@item.UUId"
                               class="btn btn-secondary"><i class="fas fa-bell"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="deleteModal" class="modal fade" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem a certeza que deseja remover este registo?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteModalForm" asp-action="Delete" method="post">
                    <input type="submit" id="confirmDelete" class="btn btn-danger" value="Remover" />
                </form>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));
        });
        $('#deleteModal').on('click', '#confirmDelete', (e) => {
            $('#deleteModalForm').attr('action', `@Url.Action("Disable")/${$(this).data('itemid')}`);
        });
        window.addEventListener('load', () => {
            let searcheable = document.querySelectorAll('tbody tr td:not(:last-child)');
            document.querySelector('#searchBar').addEventListener('input', (e) => {
                search(searcheable, e.target.value);
            });
        });
        function search(elements, text) {
            for (let element of elements) {
                let txtValue = element.innerText;
                if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                    element.parentElement.style.display = "";
                } else {
                    element.parentElement.style.display = "none";
                }
            }
        }
</script>
