﻿@model IEnumerable<MI.Web.Models.Inventories.InventoryUsersViewModel>

@{
    ViewData["Title"] = "Membros";
    Layout = "~/Views/Inventory/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
}
<div class="row">
    <div class="col-8 align-self-center">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="col-4 text-right align-self-center">
        @*<action-icon icon="plus-circle" asp-action="Create" text="Criar Novo" class="btn btn-outline-primary"></action-icon>*@
    </div>
</div>
<div class="row pt-4 pb-4">
    <div class="col-md-2">
        <label class="form-control border-0">Pesquisar</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" name="searchBar" id="searchBar" />
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    Nome
                </th>
                <th class="">
                    Cargo
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.UserImagePath))
                    {
                        <img src="@Url.Content(item.UserImagePath)" class="tableProfileImage" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullName)
                </td>
                <td>
                    @if (User.GetUserId() == item.UserId && Model.Count() != 1 && item.RoleName != "Owner")
                    {
                    
                    <form class="form-inline flex-md-row flex-wrap" asp-action="RemoveUser" asp-route-id="@this.ViewContext.RouteData.Values.GetValueOrDefault("id")">
                        <span class="mr-2">@item.RoleName</span>
                        <input type="hidden" name="userEmail" value="@item.UserEmail" />
                        <button type="submit" class="btn btn-danger form-control m-0"><i class="fas fa-times"></i></button>
                    </form>
                    }
                    else
                    {
                    <span>@item.RoleName</span>
                    }
                </td>
             </tr>
            }
        </tbody>
    </table>
</div>

<div id="deleteModal" class="modal fade" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem a certeza que deseja remover este registo?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteModalForm" asp-action="Delete" method="post">
                    <input type="submit" id="confirmDelete" class="btn btn-danger" value="Remover" />
                </form>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));
        });
        $('#deleteModal').on('click', '#confirmDelete', (e) => {
            $('#deleteModalForm').attr('action', `@Url.Action("Disable")/${$(this).data('itemid')}`);
        });
        window.addEventListener('load', () => {
            let searcheable = document.querySelectorAll('tbody tr td:not(:last-child)');
            document.querySelector('#searchBar').addEventListener('input', (e) => {
                search(searcheable, e.target.value);
            });
        });
        function search(elements, text) {
            for (let element of elements) {
                let txtValue = element.innerText;
                if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                    element.parentElement.style.display = "";
                } else {
                    element.parentElement.style.display = "none";
                }
            }
        }
</script>
