﻿html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto 1fr auto;
    margin-bottom: 0px;
}

body > .container {
    align-self: center;
    grid-row: 2;
}

body > .footer {
    grid-row: 4;
}

main {
    display: grid;
}

main > .wrapper {
    border: 1px solid rgba(0,0,0,0.2);
    /*border-radius: 25px; */
}

form hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer {
    margin-top: 1em;
    position: initial;
    height: initial;
}

@media screen and (max-width: 767px)
{
    main > .wrapper {
        border: 0px;
        border-radius: initial;
    }

    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    .footer {
        position: initial;
    }
}