﻿

/* Tables */
table {
    border-collapse: separate;
}
table thead {
    display: table;
    width: 100%;
}

table tbody {
    display:table;
    width: 100%;
    border-spacing: 0 1em;
}

table tbody tr {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

table tbody tr td:last-child {
    text-align: right;
}

.wrapper {
    margin-top: 2rem;
}

.enterprise-data {
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 1em;
}

@media screen and (max-width:450px)
{
    table tbody {
        width: 100%;
    }

    table tbody tr td:last-child a .actionIcon_Text {
        padding-left: initial;
    }
}