﻿

nav.navbar {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

nav#sidebarBtn {
    grid-column: 1;
    grid-row: 1;
}

#sidebarBtn {
    max-width: 180px;
}

div#companyBrand {
    grid-column: 2;
    grid-row: 1;

    justify-self: center;
}

div#loginPartial {
    grid-column: 3;
    grid-row: 1;
}

.sidebar {
    top: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position:fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/** Imported from W3.CSS **/

#sidebar.sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}


.item-actions a {
    width: 10em;
}


/*@media screen and (min-width: 575px)
{
    #sideBarLogin {
        display:none;
    }
}*/

#sideBarLogin {
    /*position: absolute;*/
    width: 100%;
    bottom: 0;

    text-align: center;
}

#sideBarLogin li form {
    text-align: center;
    justify-content: center;
}

.sidebar .actionIcon {
    display: grid;

    grid-template-columns: 20px max-content;

    align-items: center;
}

@media (min-width: 576px) and (max-width:768px) {
    .container {
        max-width: initial;
    }
}

@media (max-width: 990px)
{
    .item-actions {
        align-items: flex-end;
        text-align: right;
        
        display: flex;
        flex-direction:column;

    }

    .item-actions a, .item-actions button {
        /*width: 100%;*/
        width: 38px;
    }

    .item-actions a:not(:first-child) {
        margin-top: 5px;
    }
}

@media (max-width: 576px)
{
    div#companyBrand {
        grid-column: 2/span 2;
    }
}
