﻿@using Microsoft.AspNetCore.Identity
@using MI.Web.Data.Entities.ApplicationSection
@using Microsoft.AspNetCore.Http.Extensions

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <ul class="navbar-nav text-md-left text-center d-print-none">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <img src="@Url.Content(await User.GetUserImagePathAsync(UserManager))" class="lPartialImage" />
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Manage" title="Manage">Olá, @await User.GetUserFullNameAsync(UserManager)!</a>
            </li>
            <li class="nav-item ml-1">
                <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="form-control btn btn-outline-secondary">Logout</button>
                </form>
            </li>
        }
        else
        {

            <li class="nav-item">
                <form class="form-inline mt-3 mt-md-0" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Context.Request.PathBase@Context.Request.GetEncodedPathAndQuery()">

                    <input type="text" class="form-control" name="UserName" placeholder="E-Mail" />

                    <input type="password" class="form-control ml-md-1 mt-1 mt-md-0" name="Password" placeholder="Password" />

                    <input type="submit" class="form-control ml-md-1 mt-1 mt-md-0 btn btn-outline-secondary" value="Login" />

                    <a class="form-control ml-md-1 mt-1 mt-md-0 btn btn-outline-secondary" asp-controller="Account" asp-action="Register" >Criar Conta</a>
                </form>
                @*<a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>*@
            </li>
            <li class="nav-item">
                
            </li>
        }
    </ul>