﻿@model MI.Web.Data.Entities.Enterprise.Customer

<h2>Cliente</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form
            asp-route="enterpriseHome"
            asp-route-controller="Customers"
            asp-route-action="Edit"
            asp-route-enterpriseId="@this.ViewContext.RouteData.Values.GetValueOrDefault("enterpriseId")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="VATNumber" class="control-label"></label>
                        <input asp-for="VATNumber" class="form-control" />
                        <span asp-validation-for="VATNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="row pl-2 pr-2">
                    <button type="submit" class="btn btn-primary col-12 col-md-2 mb-1"><i class="fas fa-edit"></i><span class="actionIcon_Text">Editar</span></button>
                    <action-icon asp-route="enterpriseHome"
                                 asp-route-controller="Customers"
                                 asp-route-action="Index"
                                 asp-route-enterpriseId="@this.ViewContext.RouteData.Values.GetValueOrDefault("enterpriseId")"
                                 class="btn btn-primary col-12 col-md-2 offset-md-8 mb-1" icon="arrow-left" text="Voltar"></action-icon>
                </div>
            </div>
        </form>
    </div>
</div>

