﻿@model IEnumerable<MI.Web.Data.Entities.Enterprise.Customer>

@{ 
    ViewData["Title"] = "Clientes";
    var enterpriseID = this.ViewContext.RouteData.Values.GetValueOrDefault("enterpriseId");
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
}
<div class="row">
    <div class="col-8">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="col-4 text-right">
        <action-icon 
                icon="plus-circle" 
                asp-route="enterpriseHome"
                asp-route-controller="Customers"
                asp-route-enterpriseId="@enterpriseID"
                asp-route-action="Create" 
                text="Criar Novo" 
                class="btn btn-outline-primary"></action-icon>
    </div>
</div>
<div class="row pt-4 pb-4">
    <div class="col-md-2">
        <label class="form-control border-0">Pesquisar</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" name="searchBar" id="searchBar" />
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VATNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                        <td>
                            <a asp-route="enterpriseHome"
                               asp-route-controller="Customers"
                               asp-route-action="Details"
                               asp-route-enterpriseId="@enterpriseID"
                               asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VATNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td class="item-actions">
                            <action-icon asp-route="enterpriseHome"
                                         asp-route-controller="Customers"
                                         asp-route-action="Edit"
                                         asp-route-enterpriseId="@enterpriseID"
                                         asp-route-id="@item.Id"
                                         text="Editar"
                                         icon="edit"
                                         class="btn btn-primary collapsible"></action-icon>
                            <a data-itemid="@item.Id" data-toggle="modal" data-target="#deleteModal" class="btn text-white btn-danger collapsible">
                                <i class="fas fa-trash-alt"></i><span class="actionIcon_Text">Remover</span>
                            </a>
                        </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div id="deleteModal" class="modal fade" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem a certeza que deseja remover este registo?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteModalForm" 
                      asp-route="enterpriseHome"
                      asp-route-controller="Customers"
                      asp-route-enterpriseId="@enterpriseID"
                      asp-route-action="Delete" method="post">
                    <input type="submit" id="confirmDelete" class="btn btn-danger" value="Remover" />
                </form>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));
        });
        $('#deleteModal').on('click', '#confirmDelete', (e) => {
            $('#deleteModalForm').attr('action', `@Url.RouteUrl("enterpriseHome", new { controller = "Customers", action = "Delete", enterpriseId = enterpriseID })/${$(this).data('itemid')}`);
        });
        window.addEventListener('load', () => {
            let searcheable = document.querySelectorAll('tbody tr td:not(:last-child)');
            document.querySelector('#searchBar').addEventListener('input', (e) => {
                search(searcheable, e.target.value);
            });
        });
        function search(elements, text) {
            for (let element of elements) {
                let txtValue = element.innerText;
                if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                    element.parentElement.style.display = "";
                } else {
                    element.parentElement.style.display = "none";
                }
            }
        }
    </script>
