﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/miicon.png" type="image/png" sizes="16x16">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/brands.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/brands.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Common.css" />
    <link rel="stylesheet" href="~/css/Account.css" />

    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/lib/font-awesome/js/solid.min.js"></script>
</head>
<body>
    <partial name="_LoadingPartial" />
    <div class="container">
        <main role="main" class="align-items-center">
            @RenderBody()
        </main>
    </div>

    <footer class="footer d-print-none">
        <div class="container">
            &copy; 2019 - MultInventory Lite - Projecto Académico
        </div>
    </footer>

    <script type="text/javascript">
         function displayLoading() {
            $('.loading').show();
        }

        $(window).on('beforeunload', () => {
            displayLoading();
        });

        $(document).on('submit', 'form', () => {
            displayLoading();
        });
    </script>
</body>
</html>
