﻿@model MI.Web.Models.Accounts.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar Password";
    Layout = "~/Views/Application/Account/_Layout.cshtml";
}

    <div class="wrapper offset-lg-1 col-lg-10 pl-4 pr-4 pb-2 pt-4">
        <h1>@ViewBag.Title</h1>

        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <p><span class="text-success">@ViewBag.SuccessMessage</span></p>
        }
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <p><span class="text-danger">@ViewBag.ErrorMessage</span></p>
        }

        <hr />

        <form asp-route="default" asp-route-controller="account" asp-route-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="CurrentPassword">Password Actual</label>
                    <input asp-for="CurrentPassword" class="form-control" type="password" />
                    <span asp-validation-for="CurrentPassword" class="text-warning"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="NewPassword">Nova Password</label>
                    <input asp-for="NewPassword" class="form-control" type="password" />
                    <span asp-validation-for="NewPassword" class="text-warning"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="NewPasswordConfirm">Confirmar Password</label>
                    <input asp-for="NewPasswordConfirm" class="form-control" type="password" />
                    <span asp-validation-for="NewPasswordConfirm" class="text-warning"></span>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="row pl-2 pr-2">
                    <button type="submit" class="btn btn-primary col-12 col-md-2 mb-1">
                        <i class="fas fa-edit actionIcon_Icon"></i><span class="actionIcon_Text">Guardar</span>
                    </button>

                    <action-icon asp-controller="Account"
                                 asp-action="Manage"
                                 class="btn btn-primary col-12 col-md-2 offset-md-8 mb-1"
                                 icon="arrow-left"
                                 text="Voltar"></action-icon>
                    @*<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar</a>*@
                </div>
            </div>
        </form>
    </div>
</div>