﻿
@{
    ViewData["Title"] = "Confirmação falhou!";
    Layout = "~/Views/Application/Home/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Lamentamos o inconveniente, se o problema persistir contacte um administrador.</h3>