﻿@model MI.Web.Models.Accounts.ForgotPasswordViewModel
@{
    ViewBag.Title = "Recuperar a Password";
    Layout = "~/Views/Application/Account/_Layout.cshtml";
}

<div class="wrapper offset-lg-3 col-lg-6 pl-4 pr-4 pb-2 pt-4 align-self-center">
    <h1>@ViewBag.Title</h1>

    <hr />

    <form asp-route="default" asp-route-controller="account" asp-route-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row">
            <div class="col-lg-12 pb-lg-2">
                <div class="form-group">
                    <label asp-for="Email">E-Mail</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-warning"></span>
                </div>
                <br/>
                <hr />


            </div>
        </div>
        <div class="form-group">
            <div class="row pl-2 pr-2">
                <input type="submit" value="Recuperar Password" class="btn btn-primary  col-12 col-md-5 mb-1" />
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary  col-12 col-md-4 offset-md-3 mb-1">Voltar</a>
            </div>
        </div>
    </form>
</div>