﻿@model MI.Web.Models.Accounts.ForgotPasswordViewModel
@{
    ViewBag.Title = "Recuperação Enviada";
    Layout = "~/Views/Application/Account/_Layout.cshtml";
}

<div class="wrapper offset-lg-3 col-lg-6 pl-4 pr-4 pb-4 pt-4 align-self-center">
    <h1>@ViewBag.Title</h1>

    <hr />

        <div class="form-group">
            Foi enviado um e-mail com as informações necessárias para proceder à recuperação da sua password!
        </div>

    <hr />

    <div class="row">
        <a asp-action="login" class="btn btn-primary offset-3 col-6">OK</a>
    </div>
</div>