﻿@model MI.Web.Models.Accounts.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Application/Account/_Layout.cshtml";
    var returnUrl = Context.Request.Query["returnUrl"];
}

    <div class="wrapper offset-lg-3 col-lg-6 pl-4 pr-4 pb-2 pt-4 align-self-center">
        <div class="row">
            <div class="col-md-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-md-6 align-self-center text-md-right">
                <form id="external-account"
                      asp-route="default"
                      asp-route-controller="Account"
                      asp-route-action="ExternalLogin"
                      asp-route-returnUrl="@returnUrl"
                      method="post" class="form-horizontal">
                    <button type="submit" class="btn btn-primary" name="provider" value="Facebook"><i class="fab fa-facebook-f"></i></button>
                    <button type="submit" class="btn btn-primary" name="provider" value="Google"><i class="fab fa-google"></i></button>
                    <button type="submit" class="btn btn-primary" name="provider" value="Twitter"><i class="fab fa-twitter"></i></button>
                    <button type="submit" class="btn btn-primary" name="provider" value="Microsoft"><i class="fab fa-windows"></i></button>
                </form>
            </div>
        </div>

        <hr />

        <form asp-controller="account" asp-action="login" method="post" asp-route-returnurl="@returnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-lg-12 pb-lg-2">
                    <div class="form-group">
                        <label asp-for="Username">E-Mail</label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-warning"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 pb-lg-2">
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-warning"></span>
                    </div>
                </div>
            </div>

            <div class="row pb-lg-2">
                <div class="col-md-6 pb-lg-2">
                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label">Relembrar-me</label>
                        </div>
                        <span asp-validation-for="RememberMe" class="text-warning"></span>
                    </div>
                </div>

                <div class="col-md-6 text-md-right">
                    <a asp-route="default"
                       asp-route-controller="Account"
                       asp-route-action="ForgotPassword" class="">Esqueci-me da Password</a>
                </div>
            </div>



            <hr />



            <div class="form-group">
                <div class="row">
                    <button type="submit" value="Login" class="btn btn-primary col-12 col-md-3 mb-1">
                        <i class="fas fa-sign-in-alt actionIcon_Icon"></i><span class="actionIcon_Text">Login</span>
                    </button>
                    <action-icon asp-action="Register" class="btn btn-primary col-12 offset-md-1 col-md-4 mb-1" text="Criar Conta" icon="user-plus"></action-icon>
                    <action-icon asp-action="Index" asp-controller="Home" class="btn btn-primary col-12 offset-md-1 col-md-3 mb-1" text="Voltar" icon="arrow-left"></action-icon>
                </div>
            </div>
        </form>


    </div>