﻿
@{
    ViewData["Title"] = "Por favor confirme o seu e-mail.";
    Layout = "~/Views/Application/Home/_Layout.cshtml";
}

<h2>Confirme o seu E-Mail</h2>

<p>Antes de puder utilizar a plataforma Multinventory tem de proceder a confirmação do seu e-mail!</p>