﻿@model MI.Web.Models.Accounts.RegisterNewViewModel
@{
    ViewBag.Title = "Criar Conta";
    Layout = "~/Views/Application/Account/_Layout.cshtml";
}

    <div class="wrapper offset-lg-1 col-lg-10 pl-4 pr-4 pb-2 pt-4 mt-md-3">
        <div class="row">
            <div class="col-md-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-md-6 align-self-center text-md-right">
                <form id="external-account"
                      asp-route="default"
                      asp-route-controller="Account"
                      asp-route-action="ExternalLogin"
                      method="post" class="form-horizontal">
                    <button type="submit" class="btn btn-primary" name="provider" value="Facebook"><i class="fab fa-facebook-f"></i></button>
                    <button type="submit" class="btn btn-primary" name="provider" value="Google"><i class="fab fa-google"></i></button>
                    <button type="submit" class="btn btn-primary" name="provider" value="Twitter"><i class="fab fa-twitter"></i></button>
                    <button type="submit" class="btn btn-primary" name="provider" value="Microsoft"><i class="fab fa-windows"></i></button>
                </form>
            </div>
        </div>
        <hr />

        <form asp-controller="account" asp-action="register" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group text-center">
                        <label asp-for="ImageFile" class="control-label"></label><br />
                        <img id="ImagePreview" style="max-height: 250px;" src="~/media/images/common/no_preview.jpg" /><br /><br />
                        <input asp-for="ImageFile" class="form-control" type="file" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName">Primeiro Nome</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-warning"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName">Apelido</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-warning"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="VATNumber">NIF</label>
                    <input asp-for="VATNumber" class="form-control" />
                    <span asp-validation-for="VATNumber" class="text-warning"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BirthDate">Data de Nascimento</label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-warning"></span>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="UserName">E-Mail</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-warning"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword">Confirmar Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="row pl-2 pr-2">
                    <button type="submit" class="btn btn-primary col-12 col-md-3 mb-1">
                        <i class="fas fa-plus-circle actionIcon_Icon"></i><span class="actionIcon_Text">Criar Conta</span>
                    </button>
                    <action-icon asp-controller="Home" asp-action="Index" class="btn btn-primary col-12 col-md-3 offset-md-6 mb-1" text="Voltar" icon="arrow-left"></action-icon>
                    @*<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar</a>*@
                </div>
            </div>
        </form>
    </div>

<script type="text/javascript">
    function PreviewImage() {
        var preview = document.querySelector('#ImagePreview');
        var file = document.querySelector('#ImageFile').files[0];

        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        }
        else {
            preview.src = "";
        }
    }

    document.querySelector('#ImageFile').addEventListener('change', () => {
        PreviewImage();
    });
</script>