﻿@model MI.Web.Models.Accounts.ResetPasswordViewModel
@{
    ViewData["Title"] = "Recuperar a Password";
    Layout = "~/Views/Application/Account/_Layout.cshtml";
}

    <div class="wrapper offset-lg-3 col-lg-6 pl-4 pr-4 pb-4 pt-4 align-self-center">
        <h1>@ViewBag.Title</h1>

        <hr />

        <form asp-controller="account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Token" />
            <div class="row">
                <div class="col-md-12 pb-md-2">
                    <div class="form-group">
                        <label asp-for="Username">E-Mail</label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-warning"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pb-md-2">
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-warning"></span>
                    </div>
                </div>

                <div class="col-md-6 pb-md-2">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirme a password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="row pl-2 pr-2">
                    <input type="submit" value="Recuperar" class="btn btn-primary col-12 col-md-4 mb-1" />

                    <a asp-action="Index" asp-controller="Home" class="btn btn-primary col-12 col-md-4 offset-md-4 mb-1">Voltar</a>
                </div>
            </div>
        </form>
    </div>