﻿
@{
    ViewData["Title"] = "Recuperar a Password";
    Layout = "~/Views/Application/Account/_Layout.cshtml";
}

<div class="wrapper offset-lg-3 col-lg-6 pl-4 pr-4 pb-4 pt-4 align-self-center">
    <h1>@ViewBag.Title</h1>

    <hr />

    <div class="form-group">
        <p>A sua password foi recuperada com sucesso! Ligue-se já com a sua nova password.</p>
        <p>Bem-vindo(a) de volta. <i class="fas fa-smile"></i></p>
    </div>

    <hr />

    <div class="row">
        <a asp-action="login" class="btn btn-primary offset-3 col-6">OK</a>
    </div>
</div>