﻿@model IEnumerable<MI.Web.Models.Accounts.UserViewModel>
@{
    ViewBag.Title = "Utilizadores";
    Layout = "~/Views/Application/Home/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
}

<div class="wrapper">
    <h1>@ViewBag.Title</h1>
    <div class="row pt-4 pb-4">
        <div class="col-md-2">
            <label class="form-control border-0">Pesquisar</label>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="searchBar" id="searchBar" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 3em;"></th>
                            <th>
                                E-Mail
                            </th>
                            @*<th>
                                    Nome
                                </th>*@
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td style="width: 3em;">
                                    @if (!string.IsNullOrEmpty(item.ImagePath))
                                    {
                                        <img src="@Url.Content(@item.ImagePath)" class="tableProfileImage" />
                                    }
                                </td>
                                <td>
                                    @item.UserName
                                </td>
                            <td>
                                <div class="row col-12 text-right">
                                    @if (item.Role.Name == "Superuser")
                                    {
                                        <span class="">Superuser</span>
                                    }
                                    else
                                    {
                                        <form asp-controller="Account" asp-action="ChangePermission" method="post" class="form-inline text-right" style="flex-flow: initial;">
                                            <input type="hidden" asp-for="@item.UserName" name="Username" />
                                            <select asp-for="@item.Role" name="Role" class="form-control" style="width: 10em;">
                                                @foreach (var role in (ICollection<MI.Web.Models.Accounts.RoleViewModel>)ViewBag.RoleList)
                                                {
                                                    if (role.Name == item.Role.Name)
                                                    {
                                                        <option value="@role.Name" selected>@role.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@role.Name">@role.Name</option>
                                                    }
                                                }
                                            </select>
                                            <button type="submit" class="btn btn-success ml-1"><i class="fas fa-check"></i></button>
                                        </form>
                                    }
                                </div>
                            </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.addEventListener('load', () => {
        let searcheable = document.querySelectorAll('tbody tr td:not(:last-child)');
        document.querySelector('#searchBar').addEventListener('input', (e) => {
            search(searcheable, e.target.value);
        });
    });

    function search(elements, text) {
        for (let element of elements) {
            let txtValue = element.innerText;

            if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                element.style.display = "";
                element.nextSibling.nextSibling.style.display = "";
            } else {
                element.style.display = "none";
                element.nextSibling.nextSibling.style.display = "none";
            }
        }
    }
</script>
