﻿@model MI.Web.Models.Accounts.UserViewModel
@{
    Layout = "~/Views/Application/Account/_Layout.cshtml";
}

<div class="wrapper pl-4 pr-4 pb-4 pt-4 align-self-center">
    <h1>@ViewBag.Title</h1>

    <hr />

    <div class="row">
        <div class="form-group col-md-6">
            <label>Primeiro Nome</label>
            <p class="form-control">@Model.FirstName</p>
        </div>
        <div class="form-group col-md-6">
            <label>Apelido</label>
            <p class="form-control">@Model.LastName</p>
        </div>

        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <div class="form-group col-md-12">
                <img src="@Url.Content(Model.ImagePath)" />
            </div>
        }

          
        <form asp-controller="Account" asp-action="changeRole" method="post">


        </form>
    </div>
    
    
</div>