﻿@model MI.Web.Models.CustomErrorViewModel


@{
    ViewData["Title"] = Model.StatusCode;
}

<div class="h-100 w-100 p-0 row align-items-center" style="background-image: url(@Model.ImageUrl); background-repeat: no-repeat; background-position: center; opacity: 0.8;">

    <div class="col-12 text-center">

        <h1 style="font-size:10rem;">@Model.StatusCode</h1>
        <h3 style="font-size:3rem;">@Model.ErrorMessage</h3>

        <a asp-action="Index" asp-controller="Home" class="btn btn-info">Voltar a pagina inicial</a>
    </div>

</div>