﻿
@{

    var enterprise = this.ViewContext.RouteData.Values.GetValueOrDefault("enterpriseId");
    var establishment = this.ViewContext.RouteData.Values.GetValueOrDefault("establishmentId");
}

<h1>Transactions</h1>

<div class="row">
    <div class="col-4 text-right">
        <action-icon icon="plus-circle"
                     asp-route="establishmentHome"
                     asp-route-controller="Transactions"
                     asp-route-action="NewProductTransaction"
                     asp-route-enterpriseId="@enterprise"
                     asp-route-establishmentId="@establishment"
                     text="Nova transaction de Produtos"
                     class="btn btn-outline-primary"></action-icon>
    </div>

    <div class="col-4 text-right">
        <action-icon icon="plus-circle"
                     asp-route="establishmentHome"
                     asp-route-controller="Transactions"
                     asp-route-action="NewProductTransaction"
                     asp-route-enterpriseId="@enterprise"
                     asp-route-establishmentId="@establishment"
                     text="Nova transaction de Ativos"
                     class="btn btn-outline-primary"></action-icon>
    </div>

</div>