﻿@model MI.Web.Data.Entities.InventorySection.ItemState

@{
    ViewData["Title"] = "Adicionar Novo Estado";
}

<h1>Adicionar Novo</h1>

<h2>Estado</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-route="inventoryHome"
              asp-route-inventoryId="@this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId")"
              asp-route-controller="ItemStates"
              asp-route-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
    <hr />

          <div class="form-group">
              <div class="row pl-2 pr-2">
                  <button type="submit" class="btn btn-primary col-12 col-md-2 mb-1"><i class="fas fa-plus-square"></i><span class="actionIcon_Text">Criar</span></button>
                  <action-icon asp-route="inventoryHome"
                               asp-route-controller="ItemStates"
                               asp-route-action="Index"
                               asp-route-inventoryId="@this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId")"
                               class="btn btn-primary col-12 col-md-2 offset-md-8 mb-1" icon="arrow-left" text="Voltar"></action-icon>
              </div>
          </div>
        </form>
    </div>
</div>

