﻿@model MI.Web.Data.Entities.InventorySection.ItemState

@{
    ViewData["Title"] = "Editar Estado";
    var inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId");
}

<h1>Editar</h1>

<h4>Estado</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-route="inventoryHome"
              asp-route-inventoryId="@inventoryId"
              asp-route-controller="ItemStates"
              asp-route-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
    <hr />
              <div class="form-group">
                  <div class="row pl-2 pr-2">
                      <button type="submit" class="btn btn-primary col-12 col-md-2 mb-1"><i class="fas fa-edit"></i><span class="actionIcon_Text">Guardar</span></button>
                      <action-icon asp-route="inventoryHome"
                                   asp-route-controller="ItemStates"
                                   asp-route-action="Index"
                                   asp-route-inventoryId="@inventoryId"
                                   class="btn btn-primary col-12 col-md-2 offset-md-8 mb-1" icon="arrow-left" text="Voltar"></action-icon>
                  </div>
              </div>
        </form>
    </div>
</div>

