﻿@model IEnumerable<MI.Web.Data.Entities.InventorySection.ItemState>

@{
    ViewData["Title"] = "Estados dos Itens";
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
}
<div class="row justify-content-around">
    <div class="row col-8 col-md-6 align-self-center">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="row col-4 col-md-6 offset-1 offset-md-0 text-right align-self-center d-flex d-md-block flex-column">
        <action-icon icon="plus-circle" asp-route="inventoryHome"
                     asp-route-controller="ItemStates"
                     asp-route-action="Create"
                     asp-route-inventoryId="@this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId")"
                     text="Criar Novo" class="btn btn-outline-primary collapsible m-1 md-0"></action-icon>

        <action-icon asp-route="inventoryHome"
                     asp-route-controller="Inventory"
                     asp-route-action="Index"
                     asp-route-inventoryId="@this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId")"
                     class="btn btn-primary collapsible m-1 m-md-0" icon="arrow-left" text="Voltar"></action-icon>
    </div>
</div>
<div class="row pt-4 pb-4">
    <div class="col-md-2">
        <label class="form-control border-0">Pesquisar</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" name="searchBar" id="searchBar" />
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.State)
                        </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                    <td class="item-actions">
                        <action-icon asp-route="inventoryHome"
                           asp-route-inventoryId="@this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId")"
                           asp-route-controller="ItemStates"
                           asp-route-action="Edit"
                           asp-route-id="@item.Id"
                           icon="edit" text="Editar"
                           class="btn btn-primary collapsible"></action-icon>
                       
                        <a data-itemid="@item.Id" data-toggle="modal" data-target="#deleteModal" class="btn text-white btn-danger collapsible"><i class="fas fa-trash-alt actionIcon_Icon"></i><span class="actionIcon_Text">Eliminar</span></a>
</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div id="deleteModal" class="modal fade" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem a certeza que deseja remover este registo?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteModalForm" asp-action="Delete" method="post">
                    <input type="submit" id="confirmDelete" class="btn btn-danger" value="Remover" />
                </form>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));
        });
        $('#deleteModal').on('click', '#confirmDelete', (e) => {
            $('#deleteModalForm').attr('action', `@Url.RouteUrl("inventoryHome",new { inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId"), controller = "ItemStates" , action = "Disable" })/${$(this).data('itemid')}`);
        });
        window.addEventListener('load', () => {
            let searcheable = document.querySelectorAll('tbody tr td:not(:last-child)');
            document.querySelector('#searchBar').addEventListener('input', (e) => {
                search(searcheable, e.target.value);
            });
        });
        function search(elements, text) {
            for (let element of elements) {
                let txtValue = element.innerText;
                if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                    element.parentElement.style.display = "";
                } else {
                    element.parentElement.style.display = "none";
                }
            }
        }
    </script>
