﻿@inject MI.Web.Data.Interfaces.IUnitOfWork unitOfWork
@{ 
    var enterpriseId = this.ViewContext.RouteData.Values.GetValueOrDefault("enterpriseId");
    var establishments = await this.ViewContext.GetEnterpriseEstablishments(unitOfWork);
    var isAdmin = await this.unitOfWork.Enterprises.IsUserManagerAsync(User.GetUserId(), Guid.Parse(this.ViewContext.RouteData.Values.GetValueOrDefault("enterpriseId").ToString()));
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Common.css" />
    <link rel="stylesheet" href="~/css/Enterprise.css" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/font-awesome/js/fontawesome.js"></script>
        <script src="~/lib/font-awesome/js/solid.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
        <script src="~/lib/font-awesome/js/solid.min.js"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="topbar">

        <button id="sidebarBtn" class="btn" type="button"><i class="fas fa-bars"></i>&nbsp;Menu&nbsp;<i class="fas fa-chevron-down"></i></button>

        <div id="companyBrand">
            <h2>@await this.ViewContext.GetEnterpriseNameAsync(unitOfWork)</h2>
        </div>

        

        <div id="topbarPartial" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse flex-grow-0">


            <partial name="_loginPartial" />
            <div id="establishments" class="border-right pr-2">
                @if (establishments.Count > 1)
                {

                    <select name="establishments" class="form-control">
                        @foreach (var establishment in establishments)
                        {
                            <option value="@establishment.Id">@establishment.Name</option>
                        }
                    </select>
            }
            else
            {
                if (establishments.Count == 1)
                {
                        <span name="establishments">
                            @establishments.ElementAt(0).Name
                        </span>
                }
                else
                {
                        <span name="establishments">
                            <action-icon asp-route="enterpriseHome"
                                         asp-route-controller="establishments"
                                         asp-route-action="Create"
                                         asp-route-enterpriseId="@enterpriseId"
                                         text="Criar um estabelecimento" icon="plus-circle"
                                         class="btn btn-outline-primary"></action-icon>
                        </span>
                }
            }
            </div>
        </div>
    </nav>

    <div class="sidebar sidebar-collapse box-shadow" id="sidebar" style="display:none;">
        <div class="p-2">
            <button type="button" class="btn w-100"><i class="fas fa-times"></i></button>
        </div>
        <hr />
        <action-icon asp-route-action="Index"
                     asp-route-controller="Enterprise"
                     asp-route="enterpriseHome"
                     asp-route-enterpriseID="@enterpriseId"
                     icon="tachometer-alt" text="Dashboard"
                     class="sidebar-button"></action-icon>

        <hr />

        @if (isAdmin)
        {
            <action-icon asp-route="enterpriseHome"
                         asp-route-action="Index"
                         asp-route-controller="Establishments"
                         asp-route-enterpriseId="@enterpriseId"
                         icon="building" text="Estabelecimentos"
                         class="sidebar-button"></action-icon>
        }

        <action-icon asp-route="enterpriseHome"
                     asp-route-action="Index"
                     asp-route-controller="Customers"
                     asp-route-enterpriseId="@enterpriseId"
                     icon="user-tag" text="Clientes"
                     class="sidebar-button"></action-icon>

        <action-icon asp-route="enterpriseHome"
                     asp-route-action="Index"
                     asp-route-controller="Suppliers"
                     asp-route-enterpriseId="@enterpriseId"
                     icon="boxes" text="Fornecedores"
                     class="sidebar-button"></action-icon>

        <hr />

        <div id="sideBarLogin" class="pb-4 d-sm-none">
            <hr />
            <partial name="_loginPartial" />
        </div>

        <hr />

        <div id="sidebarEstablishments" class="pl-2 pr-2">
            @if (establishments.Count > 1)
            {

                <select name="establishments" class="form-control">
                    @foreach (var establishment in establishments)
                    {
                        <option value="@establishment.Id">@establishment.Name</option>
                    }
                </select>
            }
            else
            {
                if (establishments.Count == 1)
                {
                    <span name="establishments">
                        @establishments.ElementAt(0).Name
                    </span>
                }
                else
                {
                    <span name="establishments">
                        <action-icon asp-route="enterpriseHome"
                                     asp-route-controller="establishments"
                                     asp-route-action="Create"
                                     asp-route-enterpriseId="@enterpriseId"
                                     text="Criar um estabelecimento" icon="plus-circle"
                                     class="btn btn-outline-primary"></action-icon>
                    </span>
                }
            }
        </div>
    </div>

    <main role="main" class="pl-3 pr-3 content">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            &copy; 2019 - MI.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript">
        window.addEventListener('load', () => {
            document.querySelector('#sidebar button').addEventListener('click', () => {
                document.querySelector('#sidebar').style.display = "none";
                //document.querySelector('#sidebarBtn').style.display = "block";
            });

            document.querySelector('#sidebarBtn').addEventListener('click', () => {
                document.querySelector('#sidebar').style.display = "block";
                //document.querySelector('#sidebarBtn').style.display = "none";
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
