﻿@model MI.Web.Data.Entities.Application.Enterprise
@{ 
    ViewData["Title"] = "Criar Empresa";
}

<h1>Empresa</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (User.IsInRole("Admin") || User.IsInRole("Superuser"))
            {
                <div class="form-group">
                    <label asp-for="AdminId" class="control-label"></label>
                    <select asp-for="AdminId" name="AdminId" class="form-control">
                        <option value="">[Escolha um utilizador...]</option>
                        @foreach (var customer in (IQueryable<MI.Web.Data.Entities.User>)ViewData["ListCustomers"])
                        {
                            <option value="@customer.Id">@customer.Email</option>
                        }
                    </select>
                </div>
            }
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="form-group">
                        <label asp-for="VATNumber" class="control-label"></label>
                        <input asp-for="VATNumber" class="form-control" />
                        <span asp-validation-for="VATNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="form-group">
                        <label asp-for="PostalCode" class="control-label"></label>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <div class="row pl-2 pr-2">
                    <button type="submit" class="btn btn-primary col-12 col-md-2 mb-1"><i class="fas fa-plus-square"></i><span class="actionIcon_Text">Criar</span></button>
                    <action-icon 
                                 asp-route-controller="Enterprises"
                                 asp-route-action="Index"
                                 class="btn btn-primary col-12 col-md-2 offset-md-8 mb-1" icon="arrow-left" text="Voltar"></action-icon>
                    </div>
                </div>
            </form>
    </div>
</div>