﻿@model IEnumerable<MI.Web.Data.Entities.Application.Enterprise>

@{
    ViewData["Title"] = "Empresas";
}



<div class="row">
    <div class="col-8">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-4 text-right">
        <action-icon icon="plus-circle" asp-action="Create" text="Criar Novo" class="btn btn-outline-primary"></action-icon>
    </div>
    
</div>
    <div class="row pt-4 pb-4">
        <div class="col-md-2">
            <label class="form-control border-0">Pesquisar</label>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="searchBar" id="searchBar" />
        </div>
    </div>

            @foreach (var item in Model) {
                <div class="pt-1 pb-1 pl-2 pr-2 enterprise-data">
                    <div class="row pl-1 pr-1 pt-1">
                        <div class="col-md-12  text-right">
                            <action-icon asp-action="Edit" icon="edit" asp-route-id="@item.EnterpriseId" class="btn btn-primary" text="Editar"></action-icon>
                            <action-icon asp-route="enterpriseHome" asp-route-controller="enterprise" asp-route-action="Index" icon="building" asp-route-enterpriseId="@item.EnterpriseId" class="btn btn-primary" text="Dashboard"></action-icon>
                            <action-icon asp-action="Details" icon="info-circle" asp-route-id="@item.EnterpriseId" class="btn btn-primary" text="Detalhes"></action-icon>
                        </div>
                    </div>
                    <hr style="margin-top: 0.5em; padding-bottom: 0.5em;" />
                    <div class="p-2">
                        <div class="row">
                            <div class="col-8">
                                <strong><label asp-for="@item.Name"></label></strong>
                                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                            </div>
                            <div class="col-4 text-right">
                                <strong><label asp-for="@item.VATNumber"></label></strong>
                                <p>@Html.DisplayFor(modelItem => item.VATNumber)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayFor(modelItem => item.Admin.FullName)
                            </div>
                        </div>
                    </div>
                </div>
            }

    <div id="deleteModal" class="modal fade" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remover</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem a certeza que deseja remover este registo?</p>
                </div>
                <div class="modal-footer">
                    <form id="deleteModalForm" asp-action="Delete" method="post">
                        <input type="submit" id="confirmDelete" class="btn btn-danger" value="Remover" />
                    </form>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('deleteModal').on('show.bs.modal', (e) => {
            $(this).data('itemId', $(e.relatedTarget).data('itemId'));
        });
        $('deleteModal').on('click', '#confirmDelete', (e) => {
            $('#deleteModalForm').attr('action', `/${$(this).data('itemId')}`);
        });
        window.addEventListener('load', () => {
            let searcheable = document.querySelectorAll('.enterprise-data');
            document.querySelector('#searchBar').addEventListener('input', (e) => {
                search(searcheable, e.target.value);
            });
        });

        function search(elements, text) {
            for (let element of elements) {
                let target = element;
                let textElements = element.querySelectorAll('p');
                let txtValue = element.innerText;

                let hide = true;
                for(let texts of textElements)
                {
                    if (texts.innerText.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                        hide = false;
                        break;
                    }
                }

                if (hide === true) {
                    target.style.display = "none";
                }
                else {
                    target.style.display = "";
                }
            }
        }
    </script>
