﻿@model MI.Web.Data.Entities.InventorySection.ItemModel

@{
    ViewData["Title"] = "Novo Modelo";
    var inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId");
}

<h1>Adicionar Novo</h1>

<h2>Modelo</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-route="inventoryHome"
              asp-route-controller="ItemModels"
              asp-route-action="Create"
              asp-route-inventoryId="@inventoryId"
              method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control">
                    <option value="0">[Escolha a marca responsavel pelo modelo...]</option>
                    @foreach (var brand in (IQueryable<MI.Web.Data.Entities.InventorySection.ItemBrand>)ViewData["Brands"])
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

    <hr />

          <div class="form-group">
              <div class="row pl-2 pr-2">
                  <button type="submit" class="btn btn-primary col-12 col-md-2 mb-1"><i class="fas fa-plus-square"></i><span class="actionIcon_Text">Criar</span></button>
                  <action-icon asp-route="inventoryHome"
                               asp-route-controller="ItemModels"
                               asp-route-action="Index"
                               asp-route-inventoryId="@inventoryId"
                               class="btn btn-primary col-12 col-md-2 offset-md-8 mb-1" icon="arrow-left" text="Voltar"></action-icon>
              </div>
          </div>
        </form>
    </div>
</div>

