﻿@model MI.Web.Data.Entities.InventorySection.ItemType

@{
    ViewData["Title"] = "Nova Categoria";
    var inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId");
}

<h1>Adicionar Nova</h1>

<h2>Categoria</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-route="inventoryHome"
              asp-route-controller="ItemTypes"
              asp-route-inventoryId="@inventoryId"
              method="post"
              asp-route-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="InventoryId" value="@Model.InventoryId" type="hidden"/>
  
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

    <hr />

          <div class="form-group">
              <div class="row pl-2 pr-2">
                  <button type="submit" class="btn btn-primary col-12 col-md-2 mb-1"><i class="fas fa-plus-square"></i><span class="actionIcon_Text">Criar</span></button>
                  <action-icon asp-route="inventoryHome"
                               asp-route-controller="ItemTypes"
                               asp-route-action="Index"
                               asp-route-inventoryId="@inventoryId"
                               class="btn btn-primary col-12 col-md-2 offset-md-8 mb-1" icon="arrow-left" text="Voltar"></action-icon>
              </div>
          </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
