﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MI.Web</title>
    <link rel="icon" href="~/miicon.png" type="image/png" sizes="16x16">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Common.css" />
    <link rel="stylesheet" href="~/css/Application.css" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/font-awesome/js/fontawesome.js"></script>
        <script src="~/lib/font-awesome/js/solid.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
        <script src="~/lib/font-awesome/js/solid.min.js"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <partial name="_LoadingPartial" />
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MultiInventory</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.IsInRole("Superuser") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">

                                <div class="dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown">Administração</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a asp-route="default" asp-route-controller="Account" asp-route-action="PendingApproval" class="dropdown-item-text">Aprovações Pendentes</a></li>
                                        <li class="dropdown-item"><a asp-route="default" asp-route-controller="Account" asp-route-action="Users" class="dropdown-item-text">Utilizadores</a></li>
                                    </ul>
                                </div>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route="default" asp-route-controller="Inventories" asp-route-action="Index">Inventários</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer d-print-none">
        <div class="container">
            &copy; 2019 - MultInventory Lite - Projecto Académico
        </div>
    </footer>

    <script type="text/javascript">
         function displayLoading() {
            $('.loading').show();
        }

        $(window).on('beforeunload', () => {
            displayLoading();
        });

        $(document).on('submit', 'form', () => {
            displayLoading();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
