﻿@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <p><div class="card card-body d-print-none"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p><div class="card card-body d-print-none"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Multinventory!</h1>
    <div class="">
        <img class="w-100" src="~/media/images/common/metaInventory.png" style="max-height: 700px; max-width: 700px;" />
    </div>

    <p class="text-justify">
        O Multinventory é um projecto académico realizado no âmbito do projecto final do Curso de Especialização Tecnológica
        em Tecnologias de Programação e Sistemas de Informação.
    </p>
    <p>

    </p>


</div>
