﻿@model MI.Web.Models.Inventories.ItemViewModel

@{
    ViewData["Title"] = "Editar Item";
    var inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId");
}

<h1>Editar</h1>

<h2>Item</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-route="inventoryHome"
              asp-route-inventoryId="@inventoryId"
              asp-route-controller="Items"
              asp-route-action="Edit"
              method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group text-center">
                        <label asp-for="ImageFile" class="control-label"></label><br />
                        @if (!string.IsNullOrEmpty(Model.ImagePath))
                        {
                            <img id="ImagePreview" src="@Url.Content(Model.ImagePath)" alt="imagem" style="max-height:350px;" />
                        }
                        else
                        {
                            <img id="ImagePreview" src="~/media/images/common/no_preview.jpg" alt="imagem" style="max-height:350px;" />
                        }
                        <br />
                        <input asp-for="ImageFile" class="form-control" type="file" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TypeId" class="control-label"></label>
                        <select asp-for="TypeId" class="form-control">
                            <option value="0">[Escolha o estado do item...]</option>
                            @foreach (var type in (IQueryable<MI.Web.Data.Entities.InventorySection.ItemType>)ViewData["Types"])
                            {
                                <option value="@type.Id">@type.Name </option>
                            }
                        </select>
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="PlaceId" class="control-label"></label>
                        <select asp-for="PlaceId" class="form-control">
                            <option value="0">[Escolha o local do item...]</option>
                            @foreach (var place in (IQueryable<MI.Web.Data.Entities.InventorySection.ItemPlace>)ViewData["Places"])
                            {
                                <option value="@place.Id">@place.Name</option>
                            }
                        </select>
                        <span asp-validation-for="PlaceId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="ItemStateId" class="control-label"></label>
                        <select asp-for="ItemStateId" class="form-control">
                            <option value="0">[Escolha o estado do item...]</option>
                            @foreach (var state in (IQueryable<MI.Web.Data.Entities.InventorySection.ItemState>)ViewData["States"])
                            {
                                <option value="@state.Id">@state.State</option>
                            }
                        </select>
                        <span asp-validation-for="ItemStateId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Model.BrandId" class="control-label"></label>
                        <select name="Brand" class="form-control">
                            <option value="0">[Escolha a marca do item...]</option>
                            @foreach (var itemBrand in (IQueryable<MI.Web.Data.Entities.InventorySection.ItemBrand>)ViewData["Brands"])
                            {
                                if (Model.BrandId == itemBrand.Id)
                                {
                                    <option selected value="@itemBrand.Id">@itemBrand.Name</option>
                                }
                                else
                                {
                                    <option value="@itemBrand.Id">@itemBrand.Name</option>
                                }
                            }
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="ModelId" class="control-label"></label>
                        <select asp-for="ModelId" class="form-control"></select>
                        <span asp-validation-for="ModelId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <div class="row pl-2 pr-2">
                    <button type="submit" class="btn btn-primary col-12 col-md-2 mb-1"><i class="fas fa-edit"></i><span class="actionIcon_Text">Guardar</span></button>
                    <action-icon asp-route="inventoryHome"
                                 asp-route-controller="Items"
                                 asp-route-action="Index"
                                 asp-route-inventoryId="@inventoryId"
                                 class="btn btn-primary col-12 col-md-2 offset-md-8 mb-1" icon="arrow-left" text="Voltar"></action-icon>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function PreviewImage() {
        var preview = document.querySelector('#ImagePreview');
        var file = document.querySelector('#ImageFile').files[0];

        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        }
        else {
            preview.src = "";
        }
    }

    document.querySelector('#ImageFile').addEventListener('change', () => {
        PreviewImage();
    });

    document.querySelector('select[name="Brand"]').addEventListener('change', () => {
        GetBrandModels();
    });

    window.addEventListener('load', () => {
        GetBrandModels();
    });

    function SetupModelList(response) {
        let modelList = document.querySelector('#ModelId');
        modelList.innerHTML = "";

        // Base Option
        let baseOption = document.createElement('option');
        baseOption.value = "0";
        baseOption.appendChild(document.createTextNode("[Escolha um modelo...]"));

        modelList.appendChild(baseOption);

        if (!!response) {
            for (let option of response) {
                let optionElement = document.createElement('option');

                if (option.id == @Model.ModelId) {
                    optionElement.selected = true;
                }

                optionElement.value = option.id;
                optionElement.appendChild(document.createTextNode(option.name));

                modelList.appendChild(optionElement);
            }
        }
    }

    function GetBrandModels() {
        let brandControl = document.querySelector('select[name="Brand"]');
        let brandId = brandControl.value;

        $.ajax({
            url: `@Url.RouteUrl("inventoryHome", new { controller = "ItemBrands", action = "GetModels", inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId") })   `,
            method: "POST",
            data: {
                brandId: brandId
            },
            error: (xhr, ajaxOptions, thrownErrors) => {
                SetupModelList();
            },
            success: (response) => {
                SetupModelList(response);
            }
        });
    }
</script>