﻿@model IEnumerable<MI.Web.Data.Entities.InventorySection.Item>

@{
    ViewData["Title"] = "Items";
    var inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId");
}


@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <p><div class="card card-body d-print-none"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p><div class="card card-body d-print-none"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
}

<div class="row justify-content-around">
    <div class="row col-8 col-md-6 align-self-center">
        <h1>
            @ViewData["Title"]
        </h1>
        <div class="print-actions">
            <a href="javascript:window.print()" class="btn btn-success d-print-none printbtn"><i class="fas fa-print"></i></a>
            <a class="btn btn-success text-white d-print-none" id="exportExcel" style="cursor: pointer;"><i class="fas fa-file-excel"></i></a>

        </div>
    </div>
    <div class="row col-4 col-md-6 offset-1 offset-md-0 text-right align-self-center d-flex d-md-block flex-column">
        <action-icon icon="plus-circle"
                     asp-route="inventoryHome"
                     asp-route-inventoryId="@inventoryId"
                     asp-route-controller="Items"
                     asp-route-action="Create"
                     text="Criar Novo" class="btn btn-outline-primary collapsible m-1 m-md-0 d-print-none"></action-icon>

        <action-icon asp-route="inventoryHome"
                     asp-route-inventoryId="@inventoryId"
                     asp-route-controller="Items"
                     asp-route-action="NonActiveItems"
                     class="btn btn-primary collapsible m-1 m-md-0 d-print-none" icon="pallet" text="Saídas"></action-icon>

        <action-icon asp-route="inventoryHome"
                     asp-route-controller="Inventory"
                     asp-route-action="Index"
                     asp-route-inventoryId="@inventoryId"
                     class="btn btn-primary collapsible m-1 m-md-0 d-print-none" icon="arrow-left" text="Voltar"></action-icon>
    </div>
</div>
<div class="row pt-4 pb-4 d-print-none">
    <div class="col-md-2">
        <label class="form-control border-0">Pesquisar</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" name="searchBar" id="searchBar" />
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemState.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model.Brand.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model.Name)
                </th>

                <th class="d-print-none"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-itemid="@item.Id">
                        @if (!string.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="@Url.Content(item.ImagePath)" alt="imagem" style="width:100px;height:150px;max-width:100%;height:auto;" />
                        }
                        else
                        {
                            <img src="~/media/images/common/no_preview.jpg" alt="imagem" style="width:100px;height:150px;max-width:100%;height:auto;" />
                        }
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Place.Name)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.ItemState.State)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Model.Brand.Name)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Model.Name)
                    </td>

                    <td class="item-actions d-print-none d-flex flex-column">
                        <action-icon asp-route="inventoryHome"
                                     asp-route-inventoryId="@inventoryId"
                                     asp-route-controller="Items"
                                     asp-route-action="Edit"
                                     asp-route-id="@item.Id"
                                     icon="edit" text="Editar"
                                     class="btn btn-primary collapsible"></action-icon>

                        <a data-itemid="@item.Id" data-itemstate="@item.ItemStateId" data-toggle="modal" data-target="#nonactiveModal" class="btn text-white btn-warning collapsible">
                            <i class="fas fa-pallet actionIcon_Icon"></i><span class="actionIcon_Text">Dar Saída</span>
                        </a>

                        <a data-itemid="@item.Id" data-toggle="modal" data-target="#deleteModal" class="btn text-white btn-danger collapsible">
                            <i class="fas fa-trash-alt actionIcon_Icon"></i><span class="actionIcon_Text">Eliminar</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="deleteModal" class="modal fade" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem a certeza que deseja remover este registo?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteModalForm" asp-action="Delete" method="post">
                    <input type="submit" id="confirmDelete" class="btn btn-danger" value="Remover" />
                </form>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="nonactiveModal" class="modal fade" aria-labelledby="NonActiveModal" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dar Saída</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="nonactiveForm" asp-action="SetAsNonActive" method="post">
                <div class="modal-body">
                    <p>Preencha a data de saída e o estado que pretende atribuir ao item</p>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="outputDate">Data de Saída</label>
                            <input type="date" id="outputDate" name="outputDate" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="itemStateSelect">Estado</label>
                            <select name="itemStateSelect" id="itemStateSelect" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="confirmNonActive" class="btn btn-warning" value="Dar Saida" />
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div id="detailsModal" class="modal fade" aria-labelledby="DetailsModal" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Descrição</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="detailsModalField"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
        $('#nonactiveModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));
            $(this).data('itemstate', $(e.relatedTarget).data('itemstate'));

            GetItemStates($(this).data('itemstate'));
        });

        $('#detailsModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));

            GetItemDetails($(this).data('itemid'));
        });

        $('tbody tr td:not(.item-actions)').on('click', (e) => {
            $(this).data('itemid', $(e.target).data('itemid'));

            $('#detailsModal').modal('show');
        });

        function SetupItemStateList(response, currentId) {
            let itemStateList = document.querySelector('#itemStateSelect');
            itemStateList.innerHTML = "";

            // Base Option
            let baseOption = document.createElement('option');
            baseOption.value = "0";
            baseOption.appendChild(document.createTextNode("[Escolha um estado...]"));

            itemStateList.appendChild(baseOption);

            if (!!response) {
                for (let option of response) {
                    let optionElement = document.createElement('option');
                    optionElement.value = option.id;
                    optionElement.appendChild(document.createTextNode(option.state));

                    if (option.id == currentId) {
                        optionElement.selected = true;
                    }

                    itemStateList.appendChild(optionElement);
                }
            }
        }

        function SetupItemDetails(response) {
            let detailField = document.querySelector('#detailsModalField');

            if (!!response) {
                detailField.innerText = response;
            }
            else {
                detailField.innerText = "N/A";
            }
        }

        function GetItemStates(currentId) {
            $.ajax({
                url: `@Url.RouteUrl("inventoryHome", new { controller = "Items", action = "GetItemStatesAJAX", inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId") })`,
                method: "POST",
                data: {

                },
                error: (xhr, ajaxOptions, thrownErrors) => {
                    SetupItemStateList();
                },
                success: (response) => {
                    SetupItemStateList(response, currentId);
                }
            });
        }

        function GetItemDetails(currentId) {
            $.ajax({
                url: `@Url.RouteUrl("inventoryHome", new { controller = "Items", action = "GetItemDetailsAJAX", inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId") })`,
                method: "POST",
                data: {
                    id: currentId
                },
                error: (xhr, ajaxOptions, thrownErrors) => {
                    console.log(currentId);
                    console.log(thrownErrors);

                    SetupItemDetails();
                },
                success: (response) => {
                    SetupItemDetails(response);
                }
            });
        }

        $('#nonactiveModal').on('click', '#confirmNonActive', (e) => {
            $('#nonactiveForm').attr('action', `@Url.RouteUrl("inventoryHome",new {inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId"), controller = "Items" , action = "SetAsNonActive" })/${$(this).data('itemid')}`);
        });


        $('#deleteModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));
        });

        $('#deleteModal').on('click', '#confirmDelete', (e) => {
            $('#deleteModalForm').attr('action', `@Url.RouteUrl("inventoryHome",new {inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId"), controller = "Items" , action = "Disable" })/${$(this).data('itemid')}`);
        });

        $('#exportExcel').on('click', () => {
            window.open(`@Url.RouteUrl("inventoryHome",new {inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId"), controller = "Inventory" , action = "ExportToExcel" })`, '_blank');
        });

        window.addEventListener('load', () => {
            let searcheable = document.querySelectorAll('tbody tr td:not(:last-child)');
            document.querySelector('#searchBar').addEventListener('input', (e) => {
                search(searcheable, e.target.value);
            });
        });

        function search(elements, text) {
            for (let element of elements) {
                let txtValue = element.innerText;
                if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                    element.parentElement.style.display = "";
                } else {
                    element.parentElement.style.display = "none";
                }
            }
        }
</script>
