﻿@model IEnumerable<MI.Web.Data.Entities.InventorySection.Item>

@{
    ViewData["Title"] = "Saídas";
    var inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId");
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <p><div class="card card-body d-print-none"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p><div class="card card-body d-print-none"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
}
<div class="row justify-content-around">
    <div class="row col-8 col-md-6 align-self-center">
        <h1>
            @ViewData["Title"]
        </h1>
        <div class="print-actions">
            <a href="javascript:window.print()" class="btn btn-success d-print-none printbtn"><i class="fas fa-print"></i></a>
            <a class="btn btn-success text-white d-print-none" id="exportExcel" style="cursor: pointer;"><i class="fas fa-file-excel"></i></a>
        </div>
    </div>
    <div class="row col-4 col-md-6 offset-1 offset-md-0 text-right align-self-center d-flex d-md-block flex-column">
        <action-icon asp-route="inventoryHome"
                     asp-route-inventoryId="@inventoryId"
                     asp-route-controller="Items"
                     asp-route-action="Index"
                     class="btn btn-primary collapsible m-1 m-md-0 d-print-none" icon="arrow-left" text="Voltar"></action-icon>
    </div>
</div>
<div class="row pt-4 pb-4 d-print-none">
    <div class="col-md-2">
        <label class="form-control border-0">Pesquisar</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" name="searchBar" id="searchBar" />
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemState.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model.Brand.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemOutput)
                </th>
                <th class="d-print-none"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-itemid="@item.Id">
                        @if (!string.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="@Url.Content(item.ImagePath)" alt="imagem" style="width:100px;height:150px;max-width:100%;height:auto;" />
                        }
                        else
                        {
                            <img src="~/media/images/common/no_preview.jpg" alt="imagem" style="width:100px;height:150px;max-width:100%;height:auto;" />
                        }
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Place.Name)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.ItemState.State)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Model.Brand.Name)
                    </td>
                    <td data-itemid="@item.Id">
                        @Html.DisplayFor(modelItem => item.Model.Name)
                    </td>
                    <td data-itemid="@item.Id">
                        @item.ItemOutput.GetValueOrDefault().ToShortDateString()
                    </td>

                    <td class="item-actions d-print-none">

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="deleteModal" class="modal fade" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem a certeza que deseja remover este registo?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteModalForm" asp-action="Delete" method="post">
                    <input type="submit" id="confirmDelete" class="btn btn-danger" value="Remover" />
                </form>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="detailsModal" class="modal fade" aria-labelledby="DetailsModal" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Descrição</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="detailsModalField"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));
        });

        $('#deleteModal').on('click', '#confirmDelete', (e) => {
            $('#deleteModalForm').attr('action', `@Url.RouteUrl("inventoryHome",new {inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId"), controller = "Items" , action = "Disable" })/${$(this).data('itemid')}`);
        });

        $('#detailsModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));

            GetItemDetails($(this).data('itemid'));
        });

        $('tbody tr td:not(.item-actions)').on('click', (e) => {
            $(this).data('itemid', $(e.target).data('itemid'));

            $('#detailsModal').modal('show');
        });

        $('#exportExcel').on('click', () => {
            window.open(`@Url.RouteUrl("inventoryHome",new {inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId"), controller = "Inventory" , action = "ExportToExcelNonActive" })`, '_blank');
        });

        window.addEventListener('load', () => {
            let searcheable = document.querySelectorAll('tbody tr td:not(:last-child)');
            document.querySelector('#searchBar').addEventListener('input', (e) => {
                search(searcheable, e.target.value);
            });
        });

        function search(elements, text) {
            for (let element of elements) {
                let txtValue = element.innerText;
                if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                    element.parentElement.style.display = "";
                } else {
                    element.parentElement.style.display = "none";
                }
            }
    }

    function SetupItemDetails(response) {
            let detailField = document.querySelector('#detailsModalField');

            if (!!response) {
                detailField.innerText = response;
            }
            else {
                detailField.innerText = "N/A";
            }
    }

    function GetItemDetails(currentId) {
            $.ajax({
                url: `@Url.RouteUrl("inventoryHome", new { controller = "Items", action = "GetItemDetailsAJAX", inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId") })`,
                method: "POST",
                data: {
                    id: currentId
                },
                error: (xhr, ajaxOptions, thrownErrors) => {
                    console.log(currentId);
                    console.log(thrownErrors);

                    SetupItemDetails();
                },
                success: (response) => {
                    SetupItemDetails(response);
                }
            });
        }
</script>
