﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@model @Model.ViewDataTypeName

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
    @:ViewData["Title"] = "@Model.ViewName";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
@:<h1>@Model.ViewName</h1>
@:
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>@Model.ViewName</title>
@:</head>
@:<body>
    @:
    //    PushIndent("    ");
}
}
<div class="row">
    <div class="col-8">
        <h2>@Model.ViewDataTypeShortName</h2>
    </div>
    <div class="col-4 text-right">
        <action-icon asp-route="enterpriseHome"
                     asp-route-controller=""
                     asp-route-action=""
                     asp-route-enterpriseId=""
                     class="btn btn-primary mb-1" icon="arrow-left" text="Voltar"></action-icon>
    </div>

</div>

<div>
    <dl class="row">
        @{
            Dictionary<string, IPropertyMetadata> propertyLookup = ((IModelMetadata)Model.ModelMetadata).Properties.ToDictionary(x => x.PropertyName, x => x);
            Dictionary<string, INavigationMetadata> navigationLookup = ((IModelMetadata)Model.ModelMetadata).Navigations.ToDictionary(x => x.AssociationPropertyName, x => x);

            foreach (var item in Model.ModelMetadata.ModelType.GetProperties())
            {
                if (propertyLookup.TryGetValue(item.Name, out IPropertyMetadata property)
                    && property.Scaffold && !property.IsForeignKey && !property.IsPrimaryKey)
                {
                    <dt class="col-sm-2">
                        @@Html.DisplayNameFor(model => model.@GetValueExpression(property))
                    </dt>
                    <dd class="col-sm-10">
                        @@Html.DisplayFor(model => model.@GetValueExpression(property))
                    </dd>
                }
                else if (navigationLookup.TryGetValue(item.Name, out INavigationMetadata navigation))
                {
                    <dt class="col-sm-2">
                        @@Html.DisplayNameFor(model => model.@GetValueExpression(navigation))
                    </dt>
                    <dd class="col-sm-10">
                        @@Html.DisplayFor(model => model.@GetValueExpression(navigation).@navigation.DisplayPropertyName)
                    </dd>
                }
            }
        }
    </dl>
</div>
@*<div>
    @{
        string pkName = GetPrimaryKeyName();
        if (pkName != null)
        {
            @:<a asp-action="Edit" asp-route-id="@@Model.@pkName">Editar</a>
            @:<a asp-action="Index">Voltar</a>
        }
        else
        {
            @:@@Html.ActionLink("Edit", "Editar", new { /* id = Model.PrimaryKey */ })
            @:<a asp-action="Index">Voltar</a>
        }
    }
</div>*@
@{
    if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
    {
        //ClearIndent();
    @:</body>
@:</html>
    }
}
@functions
{
    string GetPrimaryKeyName()
    {
        return (Model.ModelMetadata.PrimaryKeys != null && Model.ModelMetadata.PrimaryKeys.Length == 1)
        ? Model.ModelMetadata.PrimaryKeys[0].PropertyName
        : null;
    }

    string GetValueExpression(IPropertyMetadata property)
    {
        return property.PropertyName;
    }

    string GetValueExpression(INavigationMetadata navigation)
    {
        return navigation.AssociationPropertyName;
    }
}
