﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@model @GetEnumerableTypeExpression(Model.ViewDataTypeName)

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
    @:ViewData["Title"] = "@Model.ViewName";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
@:<h1>@Model.ViewName</h1>
@:
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>@Model.ViewName</title>
@:</head>
@:<body>
    //    PushIndent("    ");
}

@:@@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
@:{
    @:<p><div class="card card-body"><span class="text-success">@@ViewBag.SuccessMessage</span></div></p>
@:}
@:@@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
@:{
    @:<p><div class="card card-body"><span class="text-danger">@@ViewBag.ErrorMessage</span></div></p>
@:}
@:<div class="row">
    @:<div class="col-8">
        @:<h1>
            @:@@ViewData["Title"]
        @:</h1>
    @:</div>


    @:<div class="col-4 text-right">
        @:<action-icon icon="plus-circle" asp-action="Create" text="Criar Novo" class="btn btn-outline-primary"></action-icon>
    @:</div>
@:</div>
@:<div class="row pt-4 pb-4">
    @:<div class="col-md-2">
        @:<label class="form-control border-0">Pesquisar</label>
    @:</div>
    @:<div class="col-md-10">
        @:<input type="text" class="form-control" name="searchBar" id="searchBar" />
    @:</div>
@:</div>
@:<div class="table-responsive">
    @:<table class="table">
        @:<thead>
            @:<tr>
                Dictionary<string, IPropertyMetadata> propertyLookup = ((IModelMetadata)Model.ModelMetadata).Properties.ToDictionary(x => x.PropertyName, x => x);
                Dictionary<string, INavigationMetadata> navigationLookup = ((IModelMetadata)Model.ModelMetadata).Navigations.ToDictionary(x => x.AssociationPropertyName, x => x);

                foreach (var item in Model.ModelMetadata.ModelType.GetProperties())
                {
                    if (item.Name == "IsDisabled")
                    {
                        continue;
                    }
                    if (propertyLookup.TryGetValue(item.Name, out IPropertyMetadata property)
                        && property.Scaffold && !property.IsForeignKey && !property.IsPrimaryKey)
                    {
                        <th>
                            @@Html.DisplayNameFor(model => model.@GetValueExpression(property))
                        </th>
                    }
                    else if (navigationLookup.TryGetValue(item.Name, out INavigationMetadata navigation))
                    {
                        <th>
                            @@Html.DisplayNameFor(model => model.@GetValueExpression(navigation))
                        </th>
                    }
                }
                @:<th></th>
            @:</tr>
        @:</thead>
        @:<tbody>
            @:@@foreach (var item in Model) {
            @:<tr>
                foreach (var item in Model.ModelMetadata.ModelType.GetProperties())
                {
                    if (item.Name == "IsDisabled")
                    {
                        continue;
                    }
                    if (propertyLookup.TryGetValue(item.Name, out IPropertyMetadata property)
                        && property.Scaffold && !property.IsForeignKey && !property.IsPrimaryKey)
                    {
                        <td>
                            @@Html.DisplayFor(modelItem => item.@GetValueExpression(property))
                        </td>
                    }
                    else if (navigationLookup.TryGetValue(item.Name, out INavigationMetadata navigation))
                    {
                        <td>
                            @@Html.DisplayFor(modelItem => item.@GetValueExpression(navigation).@navigation.DisplayPropertyName)
                        </td>
                    }
                }
                string pkName = GetPrimaryKeyName();
                if (pkName != null)
                {
                    @:<td class="item-actions">
                        @:<a asp-action="Edit" asp-route-id="@@item.@pkName" class="btn btn-primary">Editar</a>
                        @:<a asp-action="Details" asp-route-id="@@item.@pkName" class="btn btn-primary">Detalhes</a>
                        @:<a asp-action="Delete" asp-route-id="@@item.@pkName" class="btn btn-danger">Remover</a>
                    @:</td>
                }
                else
                {
                    <td>
                        @@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                }
            @:</tr>
            @:}
        @:</tbody>




    @:</table>
@:</div>


@:<div id="deleteModal" class="modal fade" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
    @:<div class="modal-dialog">
        @:<div class="modal-content">
            @:<div class="modal-header">
                @:<h5 class="modal-title">Remover</h5>
                @:<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    @:<span aria-hidden="true">&times;</span>
                @:</button>
            @:</div>
            @:<div class="modal-body">
                @:<p>Tem a certeza que deseja remover este registo?</p>
            @:</div>
            @:<div class="modal-footer">
                @:<form id="deleteModalForm" asp-action="Delete" method="post">
                    @:<input type="submit" id="confirmDelete" class="btn btn-danger" value="Remover" />
                @:</form>
                @:<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            @:</div>
        @:</div>
    @:</div>
@:</div>


@:<script type="text/javascript">
        @:$('#deleteModal').on('show.bs.modal', (e) => {
            @:$(this).data('itemId', $(e.relatedTarget).data('itemId'));
        @:});

        @:$('#deleteModal').on('click', '#confirmDelete', (e) => {
            @:$('#deleteModalForm').attr('action', `@* Add URL.Action code here *@/${$(this).data('itemId')}`);
        @:});

        @:window.addEventListener('load', () => {
            @:let searcheable = document.querySelectorAll('tbody tr td:not(:last-child)');
            @:document.querySelector('#searchBar').addEventListener('input', (e) => {
                @:search(searcheable, e.target.value);
            @:});
        @:});

        @:function search(elements, text) {
            @:for (let element of elements) {
                @:let txtValue = element.innerText;

                @:if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                    @:element.parentElement.style.display = "";
                @:} else {
                    @:element.parentElement.style.display = "none";
                @:}
            @:}
        @:}
    @:</script>


if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
{
    //ClearIndent();
@:</body>
@:</html>
    }
}
@functions
{
    string GetPrimaryKeyName()
    {
        return (Model.ModelMetadata.PrimaryKeys != null && Model.ModelMetadata.PrimaryKeys.Length == 1)
        ? Model.ModelMetadata.PrimaryKeys[0].PropertyName
        : null;
    }

    string GetValueExpression(IPropertyMetadata property)
    {
        return property.PropertyName;
    }

    string GetValueExpression(INavigationMetadata navigation)
    {
        return navigation.AssociationPropertyName;
    }

    string GetEnumerableTypeExpression(string typeName)
    {
        return "IEnumerable<" + typeName + ">";
    }
}
