﻿@model MI.Web.Data.Entities.Enterprise.Supplier

<div class="row">
    <div class="col-8">
        <h2>Fornecedor</h2>
    </div>
    <div class="col-4 text-right">
        <action-icon asp-route="enterpriseHome"
                     asp-route-controller="Suppliers"
                     asp-route-action="Index"
                     asp-route-enterpriseId="@this.ViewContext.RouteData.Values.GetValueOrDefault("enterpriseId")"
                     class="btn btn-primary mb-1" icon="arrow-left" text="Voltar"></action-icon>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h4>@Model.Name</h4>
    </div>
    <div class="col-md-4 text-md-right">
        <span class="font-weight-bold pr-2">@Html.DisplayNameFor(model => model.VATNumber)</span>

        @Html.DisplayFor(model => model.VATNumber)
    </div>
</div>

<hr />

<div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
            </div>
        </div>
    </div>

    <div class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Description))
            { 
                @Html.DisplayFor(model => model.Description)
            }
            else
            {
                <span>N/A</span>
            }
        </dd>
    </div>
</div>

<hr />

<div>
    
</div>
