﻿@inject MI.Web.Data.Interfaces.IUnitOfWork unitOfWork
@{ 
    var inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("inventoryId");
    if (inventoryId == null)
    {
        inventoryId = this.ViewContext.RouteData.Values.GetValueOrDefault("id");
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - @await this.ViewContext.GetInventoryNameAsync(unitOfWork, inventoryId.ToString())</title>
    <link rel="icon" href="~/miicon.png" type="image/png" sizes="16x16">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Common.css" />
    <link rel="stylesheet" href="~/css/Enterprise.css" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/font-awesome/js/fontawesome.js"></script>
        <script src="~/lib/font-awesome/js/solid.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
        <script src="~/lib/font-awesome/js/solid.min.js"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <partial name="_LoadingPartial" />
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="topbar">

        <button id="sidebarBtn" class="btn d-print-none" type="button"><i class="fas fa-bars"></i>&nbsp;Menu&nbsp;<i class="fas fa-chevron-down"></i></button>

        <div id="companyBrand">
            <h2 class="mb-1">@await this.ViewContext.GetInventoryNameAsync(unitOfWork, inventoryId.ToString())</h2>
        </div>



        <div id="topbarPartial" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse flex-grow-0 d-print-none">
            <partial name="_loginPartial" />            
        </div>
    </nav>

    <div class="sidebar sidebar-collapse box-shadow d-print-none" id="sidebar" style="display:none;">
        <div class="p-2">
            <button type="button" class="btn w-100"><i class="fas fa-times"></i></button>
        </div>
        <hr />

        <action-icon asp-route="inventoryHome"
                     asp-route-action="Index"
                     asp-route-controller="Inventory"
                     asp-route-inventoryId="@inventoryId"
                     icon="user-tag" text="Home"
                     class="sidebar-button"></action-icon>

        <hr />

        <action-icon asp-route="inventoryHome"
                     asp-route-action="Index"
                     asp-route-controller="Items"
                     asp-route-inventoryId="@inventoryId"
                     icon="box-open" text="Items"
                     class="sidebar-button"></action-icon>

        <action-icon asp-route="inventoryHome"
                     asp-route-action="Index"
                     asp-route-controller="ItemStates"
                     asp-route-inventoryId="@inventoryId"
                     icon="file-alt" text="Tipos de Estado"
                     class="sidebar-button"></action-icon>

        <action-icon asp-route="inventoryHome"
                     asp-route-action="Index"
                     asp-route-controller="ItemTypes"
                     asp-route-inventoryId="@inventoryId"
                     icon="tags" text="Categorias"
                     class="sidebar-button"></action-icon>

        <action-icon asp-route="inventoryHome"
                     asp-route-action="Index"
                     asp-route-controller="ItemPlaces"
                     asp-route-inventoryId="@inventoryId"
                     icon="map-marker-alt" text="Localizações"
                     class="sidebar-button"></action-icon>

        <action-icon asp-route="inventoryHome"
                     asp-route-action="Index"
                     asp-route-controller="ItemBrands"
                     asp-route-inventoryId="@inventoryId"
                     icon="object-group" text="Marcas"
                     class="sidebar-button"></action-icon>

        <action-icon asp-route="inventoryHome"
                     asp-route-action="Index"
                     asp-route-controller="ItemModels"
                     asp-route-inventoryId="@inventoryId"
                     icon="cubes" text="Modelos"
                     class="sidebar-button"></action-icon>

        <action-icon asp-controller="Inventories"
                     asp-action="Users"
                     asp-route-id="@inventoryId"
                     class="sidebar-button"
                     text="Utilizadores" icon="users"></action-icon>

        <hr />

        <action-icon asp-route-action="Index"
                     asp-route-controller="Inventories"
                     icon="arrow-left" text="Sair"
                     class="sidebar-button"></action-icon>

        <div id="sideBarLogin" class="d-sm-none">
            <hr />
            <partial name="_loginPartial" />
        </div>
    </div>

    <main role="main" class="pl-3 pr-3 content">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer d-print-none">
        <div class="container">
            &copy; 2019 - MultInventory Lite - Projecto Académico
        </div>
    </footer>

    <script type="text/javascript">
        window.addEventListener('load', () => {
            document.querySelector('#sidebar button').addEventListener('click', () => {
                document.querySelector('#sidebar').style.display = "none";
            });

            document.querySelector('#sidebarBtn').addEventListener('click', () => {
                document.querySelector('#sidebar').style.display = "block";
            });
        });


        function displayLoading() {
            $('.loading').show();
        }

        $(window).on('beforeunload', () => {
            displayLoading();
        });

        $(document).on('submit', 'form', () => {
            displayLoading();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
