﻿@model MI.Web.Models.Inventories.InventoryDashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1>@Model.Inventory.Name</h1>
<h4>Item(s): @Model.ItemCount</h4>

<hr /><br/>

<h4>Últimos 10 items adicionados:</h4>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Type.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Place.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).ItemState.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Model.Brand.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Model)
                </th>

                <th>
                    Saída do Item
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LastTenItemsAdded)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="@Url.Content(item.ImagePath)" alt="imagem" style="width:100px;height:150px;max-width:100%;height:auto;" />
                        }
                        else
                        {
                            <img src="~/media/images/common/no_preview.jpg" alt="imagem" style="width:100px;height:150px;max-width:100%;height:auto;" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemState.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.Brand.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.Name)
                    </td>
                    <td>
                        @if(item.ItemOutput != null)
                        {
                            <span>@item.ItemOutput.Value.ToShortDateString()</span>
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    
<hr />

<h4>Últimos 10 items modificados:</h4>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Type.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Place.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).ItemState.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Model.Brand.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LastTenItemsAdded.ElementAtOrDefault(0).Model)
                </th>

                <th>
                    Saída do Item
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LastTenItemsModified)
            {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@Url.Content(item.ImagePath)" alt="imagem" style="width:100px;height:150px;max-width:100%;height:auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemState.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Name)
                </td>
                <td>
                    @if (item.ItemOutput != null)
                    {
                        <span>@item.ItemOutput.Value.ToShortDateString()</span>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

