﻿@model IEnumerable<MI.Web.Data.Entities.Application.Establishment>

@{ 
    ViewData["Title"] = "Estabelecimentos";
    var enterpriseID = this.ViewContext.RouteData.Values.GetValueOrDefault("enterpriseId");
}


    <div class="row">
        <div class="col-8">
            <h1>
                @ViewData["Title"]
            </h1>
        </div>
        <div class="col-4 text-right">
            <action-icon icon="plus-circle"
                         asp-route="enterpriseHome"
                         asp-route-controller="Establishments"
                         asp-route-action="Create"
                         asp-route-enterpriseID="@enterpriseID"
                         text="Criar Novo"
                         class="btn btn-outline-primary"></action-icon>
        </div>
    </div>
    <div class="row pt-4 pb-4">
        <div class="col-md-2">
            <label class="form-control border-0">Pesquisar</label>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="searchBar" id="searchBar" />
        </div>
    </div>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th colspan="3">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                        <td colspan="2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td colspan="3">
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostalCode)
                        </td>
                        <td>
                            <a asp-route="establishmentHome"
                               asp-route-enterpriseId="@enterpriseID"
                               asp-route-establishmentId="@item.Id"
                               asp-route-controller="Establishment" 
                               asp-route-action="Index"
                               class="btn btn-primary">VER</a>
                        </td>
            </tr>
            }
        </tbody>
    </table>
</div>
    <div id="deleteModal" class="modal fade" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remover</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem a certeza que deseja remover este registo?</p>
                </div>
                <div class="modal-footer">
                    <form id="deleteModalForm" asp-action="Delete" method="post">
                        <input type="submit" id="confirmDelete" class="btn btn-danger" value="Remover" />
                    </form>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', (e) => {
            $(this).data('itemid', $(e.relatedTarget).data('itemid'));
        });
        $('#deleteModal').on('click', '#confirmDelete', (e) => {
            $('#deleteModalForm').attr('action', `@Url.RouteUrl("establishmentHome", new { controller = "Establishments", action = "Index", enterpriseId = enterpriseID })/${$(this).data('itemid')}`);
        });
        window.addEventListener('load', () => {
            let searcheable = document.querySelectorAll('tbody tr td:not(:last-child)');
            document.querySelector('#searchBar').addEventListener('input', (e) => {
                search(searcheable, e.target.value);
            });
        });
        function search(elements, text) {
            for (let element of elements) {
                let txtValue = element.innerText;
                if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                    element.style.display = "";
                    element.nextSibling.nextSibling.style.display = "";
                } else {
                    element.style.display = "none";
                    element.nextSibling.nextSibling.style.display = "none";
                }
            }
        }
    </script>
